Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*/bin
*.dll
*.update
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/src/TechnicalServices/bin
/lib/*.dll
/tools/sitecore.courier/*.dll
/packages
/Images
/Website/Local Disk
*$recycle.bin*
/lib/*.xml
/src/Usergroup.Sugnl.JsonReadSpike/*.json

