<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="id"               storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="description"      storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="label"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="point"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="latlon"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="_geohash"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="categories"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <!--<field fieldName="categories"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.GUID"       settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>-->
              <field fieldName="haspoint"               storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="hasdescription"         storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String"     settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_geohash"       storageType="yes" indexType="untokenized" type="Usergroup.Sugnl.Hack.GeohashComputedField, Usergroup.Sugnl.Hack" 
                   sourceFieldName="point"/>
            <field fieldName="haspoint"       storageType="yes" indexType="untokenized" type="Usergroup.Sugnl.Search.FieldHasValue, Usergroup.Sugnl.Search" 
                   sourceFieldName="point"/>
            <field fieldName="hasdescription" storageType="yes" indexType="untokenized" type="Usergroup.Sugnl.Search.FieldHasValue, Usergroup.Sugnl.Search" 
                   sourceFieldName="description"/>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <patch:attribute name="type">Usergroup.Sugnl.Hack.SpatialLuceneIndex, Usergroup.Sugnl.Hack</patch:attribute>
          </index>
          <index id="sitecore_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <patch:attribute name="type">Usergroup.Sugnl.Hack.SpatialLuceneIndex, Usergroup.Sugnl.Hack</patch:attribute>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    <settings>
      <setting name="BucketConfiguration.ResolveFacetValueToFriendlyName">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/Content/|/bundles/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing</patch:attribute>        
      </setting>

    </settings>
  </sitecore>
</configuration>